# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

eosforce/siderelay/build/
eos/siderelay/build/
forceio/siderelay/build/

\.idea/
\.vscode/

eosforce/siderelay/\.vscode/
eosforce/siderelay/cmake-build-debug/
eosforce/siderelay/src/cmake-build-debug/

forceio/siderelay/\.vscode/
forceio/siderelay/cmake-build-debug/
forceio/siderelay/src/cmake-build-debug/

eos/siderelay/\.vscode/
eos/siderelay/cmake-build-debug/
eos/siderelay/src/cmake-build-debug/